@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

/* Custom dark mode utility to interact nicely with antd */
.dark-hover-shadow:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.custom-table .ant-table-wrapper {
  border-radius: 8px;
  overflow: hidden;
}
