@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #082220;
  color: #FFFFFF;

  overflow-x: hidden;
}



/* Custom shadow for dark cards */
.premium-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4);
}

.custom-table .ant-table-wrapper {
  border-radius: 8px;
  overflow: hidden;
}
